@import "../bower_components/bourbon/dist/bourbon";

* { @include box-sizing(border-box); }

#start {
	width: 600px;
	height: 600px;
	background-color: #FD6A6E;
}

#fight1 {
	background-color: #FFBE6B;
}

#fight2 {
	background-color: #BC53C3;
}